<%- include("partials/start.ejs") -%>
<%- include("partials/header.ejs")-%>

<h1>Acceder a <%= title %></h1>
<form method="POST">
    <input type="hidden" name="group_title" value="<%= title %>">
    <p>Contraseña</p>
    <input type="password" name="password" required>
    <button type="submit">Acceder</button>
    <% if (error) { %>
        <p>Contraseña incorrecta</p>
    <% } %>
</form>

<%- include("partials/end.ejs") -%>