<%- include("partials/start.ejs") -%>
<%- include("partials/header.ejs")-%>
<link rel="stylesheet" href="/stylesheets/register.css" class="css">
<div class="global">
    <div class="shadow">
        <form class="container" method="POST" name="register">
            
            <h1>Registrarse</h1>
            <input type="text" name="username" placeholder="Nombre de usuario" value = "<%= username %>">
            <input type="email" name="email" placeholder="Email" value = "<%= email %>">
            <input type="password" name="password" placeholder="Contraseña">
            <input type="password" name="repeat_password" placeholder="Repetir contraseña">
            <div class="error"> <!--Aquí falta un if de si hay error-->
                <p><%= message %></p>
            </div>
            
            <div class="button_container">
                <button type="submit">Registrarse</button>
            </div>
            
            <p>¿Ya tienes cuenta? Logueate <a href="/login">aquí</a></p>
        
        </form>
    </div>
</div>


<%- include("partials/end.ejs") -%>