<%- include("partials/start.ejs") -%>
<%- include("partials/header.ejs")-%>
<link rel="stylesheet" href="/stylesheets/user.css" class="css">
<div class="global">
    <div class="bordes">
        <div class="portada">
            <img src="/images/<%=user.pfp%>" alt="Foto de usuario"></img>
            <h1><%=user.username%></h1>
            
        </div>


        <% var first_member_iteration=true %>
        <div class="contenido">
            <% groups.forEach((group,index) => { %>

                <% if (group.type==2 && index == 0){ %>
                    <div class="categoria" id="creador">
                        <div class="title">
                            <h1>Creador</h1>
                            <% if (user.isyou){ %>
                            <h2>Grupos que has creado tú</h2>
                            <% } else { %>
                            <h2>Grupos que ha creado <%=user.username%></h2>
                            <% } %>
                        </div>
                <% }%>
                <% if (group.type==1 || group.type == 0  && first_member_iteration){ %>
                    <% first_member_iteration=false %>
                    </div>
                    <div class="categoria" id="miembro">
                        <div class="title">
                            <h1>Miembro</h1>
                            <% if (user.isyou){ %>
                            <h2>Grupos de los que eres miembro</h2>
                            <% } else { %>
                            <h2>Grupos de los que <%=user.username%> es miembro</h2>
                            <% } %>
                        </div>
                        
                <% }%>

                <% if (user.isyou){ %>
                    <form class="group" method="GET" action="/group/<%=group.encrypted_id%>">
                <% }else{ %>
                    <div class="group">
                <% } %>
                    <div class="up">
                        <div class="image_content">
                            <img src="<%=group.group_picture%>">
                        </div>
                        <div class="content_title">
                            <h2><%= group.title %></h2>
                        </div>
                    </div>
                    <div class="down">
                        <div class="background_image_content">
                            <img src="<%=group.banner%>">
                        </div>
                        
                        <div class="content_description">
                            <% if (!group.description || group.description ==null || group.description == ""){ %>
                            
                            <h3>Sin descripción</h3>
                            <% } else{ %>
                            <h3><%= group.description %></h3>
                            <% } %>
                        </div>
                        
                        <% if (user.isyou){ %>
                        <div class="button_container">
                            <button type="access">Acceder</button>
                        </div>
                        
                        <% } %>
                    </div>
                    

                <% if (user.isyou){ %>
                    </form>
                <% }else{ %>
                    </div>
                <% } %>

                <% if (index === groups.length - 1) { %>
                    </div>
                <% } %>

            <% }) %>
        </div>
    </div>
</div>



<%- include("partials/end.ejs") -%>