<%- include("../partials/start.ejs") -%>
<%- include("../partials/header.ejs") -%>
<h1><%= event.title %></h1>
<h3><%= event.description %></h3>
<img src="<%= event.icon %>">
<img src="<%= event.banner %>">
<% if (isadmin){ %>
    <form method="GET" action="/group/<%=encrypted_id%>/event/<%= event_id %>/newsession">
        <button type="submit">Crear nueva sesión</button>
    </form>
<% } %>
<% sessions.forEach((session) => { %>
    
    <% if (session.has_started == true){ %>
    <form method="GET" action="/group/<%=encrypted_id%>/event/<%= event_id %>/session/<%=session.id%>" class="session_form">
    <% }else{ %>
    <div>
    <% } %>
        
        <h1><%= session.topic %></h1>

        <% if (session.description) { %>
        <h3><%= session.description %></h3> 
        <% } %>

        <% if (session.has_started) { %>
            
            <p>Empezó el <%= session.date_start_formatted %> a la/s <%= session.hour_start_formatted %></p>
        <% } else { %>
            <p>Empieza en el <%= session.date_start_formatted %> a la/s <%= session.hour_start_formatted %></p>
        <% } %>

        <% if (session.date_end_formatted && session.hour_end_formatted) { %>
            
            <% if (session.has_ended){ %>
                <p>Finalizó el <%= session.date_end_formatted %> a la/s <%= session.hour_end_formatted %></p>
                <p>Finalizado</p>
            <% }else{%>
                <p>Finaliza el <%= session.date_end_formatted %> a la/s <%= session.hour_end_formatted %></p>
            <% } %>
        <% } %>
    <% if (session.has_started == true){ %>
    </form>
    <% }else{ %>
    </div>
    <% } %>
<% }) %>
<script>
    document.addEventListener("DOMContentLoaded", () => {
        let session_forms = document.querySelectorAll('.session_form');
        session_forms.forEach(form => {
            form.addEventListener('click', () => {
                form.submit();
            });
        });
    });
</script>

<%- include("../partials/end.ejs") -%>