<%- include("../partials/start.ejs") -%>
<%- include("../partials/header.ejs") -%>
<h1><%= gallery.title %></h1>
<h3><%= gallery.description %></h1>
<img src="<%= gallery_icon %>" style="width: 200px;">
<img src="<%= gallery_banner %>" style="width: 200px;">
<%- include("../partials/end.ejs") -%>