<%- include("../partials/start.ejs") -%>
<%- include("../partials/header.ejs") -%>
<link rel="stylesheet" href="/stylesheets/members.css" class="css">

<div class="contain_global">

    <div class="global">

        <div class="global_portada" id="global_portada_id">
            <div id="imagen">
                <img src="<%= image_icon %>" alt="Group Image">
            </div>
            <div id="portada" >
                <div class="imagen_portada">
                    <img src="<%= image_banner %>" alt="">
                </div>
                <div class="banner_shadowable">
                    <div class="title">
                        <h1><%= group_title %></h1>
                    </div>
                    <div class="subtitle">

                            <h2>Miembros</h2>

                    </div>
                    
                    <div class="functions">
                        <div class="text_functions">
                            
                        </div>
                        <div class="icon_functions">
                            <form method="GET" action="/group/<%=encrypted_id%>/getlinks">
                                <button type="submit">
                                    <i class="fa-solid fa-share-nodes"></i>
                                </button>
                            </form>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <div id="content">
            <% members.forEach((user) => { %>
            <div class="element">
                <div class="foto">
                    <% if(user.image) {%>
                        <img src="<%=user.image%>">
                    <% }else{ %>
                        <img src="<%= user.pfp %>">
                    <% } %>
                </div>
                <div class="contenido">
                    <h2><%=user.username%></h2>
                    <% if(user.type=="2" ){ %>
                        <h3 class="creador">Creador</h3>
                    <%}else if(user.type=="1"){ %>
                        <h3 class="admin">Administrador</h3>
                    <%} else if(user.type=="0"){%>
                        <h3 class="miembro">Miembro</h3>
                    <%}%>
                </div>
                <div class="actions">
                    <%if(user.type=="1"){ %>
                        <% if (issuperadmin){ %>
                            <form method="POST" action="/group/<%=encrypted_id%>/members/<%=user.id%>">
                                <button>Eliminar administrador</button>
                            </form>
                        <% } %>
                    <%} else if(user.type=="0" && issuperadmin){%>
                        <form method="POST" action="/group/<%=encrypted_id%>/members/<%=user.id%>">
                            <button>Añadir administrador</button>
                        </form>
                    <%}%>
                </div>
                
            </div>
            <% }) %>
        </div>

    </div>
</div>

<script type="module">
  import { setupScrollHandler } from '/javascripts/open_close_group_header.js'
  setupScrollHandler()
</script>


<%- include("../partials/end.ejs") -%>