<%- include("../partials/start.ejs") -%>
<%- include("../partials/header.ejs") -%>
<link rel="stylesheet" href="/stylesheets/newelement.css" class="css">


<div class="contain_global">

    <div class="global">

        <div class="global_portada" id="global_portada_id">
            <div id="imagen">
                <img src="<%= image_icon %>" alt="Group Image">
            </div>
            <div id="portada" >
                <div class="imagen_portada">
                    <img src="<%= image_banner %>" alt="">
                </div>
                <div class="banner_shadowable">
                    <div class="title">
                        <h1><%= group_title %></h1>
                    </div>
                    <div class="subtitle">
                        <h2>Crear nuevo elemento</h2>
                    </div>
                    
                    <div class="functions">
                        <div class="text_functions">
                            
                        </div>
                        <div class="icon_functions">
                            <form method="GET" action="/group/<%=encrypted_id%>/getlinks">
                                <button type="submit">
                                    <i class="fa-solid fa-share-nodes"></i>
                                </button>
                            </form>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <div id="content">
            <form method="POST" enctype="multipart/form-data">
                <div class="element_type">
					<div class="title">
						<h1>¿Qué quieres crear?</h1>
					</div>
					<input type="radio" name="section_type" value="gallery" id="radio_gallery" hidden>
					<input type="radio" name="section_type" value="event" id="radio_event" hidden>

					<div id="choose_element">
						<div class="choose_content">
							<div id="choose_gallery" class="choose_box">
								<div class="title">
									<i class="fa-solid fa-palette"></i>
									<h2>Galería</h2>
								</div>
								<div class="description">
									<p>Comparte y visualiza tu arte y el de tus amigos. </p>
								</div>
							</div>
						</div>
						
						<div class="choose_content">
							<div id="choose_event" class="choose_box">
								<div class="title">
									<i class="fa-solid fa-calendar-plus"></i>
									<h2>Evento</h2>
								</div>
								<div class="description">
									<p>Proponed temas y retos en sesiones de arte con fechas limite o indefinidas</p>
								</div>
								
							</div>
						</div>
					</div>
                </div>
                
                <div class="datos">
					<div class="textos">
						<input type="text" name="title" placeholder="Título*" minlength="1" maxlength="30">
						<textarea name="description" placeholder="Descripción" maxlength="250"></textarea>
						<div>
							<% if (error==1){ %>
								<p class="error">Debe rellenar el campo de título</p>
							<% }else if(error==2){ %>
								<p class="error">Debe escoger entre galería o evento</p>
							<% }else if(error == 3){ %>
								<p class="error">Un evento o galería con el mismo nombre ya existe en tu grupo</p>
							<% }  %>
						</div>
					</div>
					
					<div class="fotos">
						<div class="foto_group">
							<h3>Foto de Portada</h3>
							<p>Solo se admiten .png y .jpg</p>
							<input type="file" name="icon" id="cover">
						</div>
						<div class="foto_group" >
							<h3>Banner</h3>
							<p>Solo se admiten .png y .jpg</p>
							<input type="file" name="banner" id="banner">
						</div>
						<div class="actions">
							<button type="submit">Crear</button>
						</div>
					</div>
            </form>
        </div>
    </div>
</div>

<script type="module">
  import { setupScrollHandler } from '/javascripts/open_close_group_header.js'
  setupScrollHandler()
</script>


<script>
  let chooseGallery = document.getElementById('choose_gallery')
  let chooseEvent = document.getElementById('choose_event')
  let radioGallery = document.getElementById('radio_gallery')
  let radioEvent = document.getElementById('radio_event')

  function clearSelection() {
    chooseGallery.classList.remove('selected')
    chooseEvent.classList.remove('selected')
  }

  chooseGallery.addEventListener('click', () => {
    clearSelection()
    chooseGallery.classList.add('selected')
    radioGallery.checked = true
  });

  chooseEvent.addEventListener('click', () => {
    clearSelection()
    chooseEvent.classList.add('selected')
    radioEvent.checked = true
  });
</script>

<%- include("../partials/end.ejs") -%>