<%- include("../partials/start.ejs") -%>
<%- include("../partials/header.ejs") -%>
<h1>Estás en el sesioncita de artecita!</h1>

<h1><%=session.topic%></h1>


<% if (session.description) { %>
    <h3><%= session.description %></h3> 
<% } %>

<button id="upload_image_button">Subir imagen</button>

<% session_images.forEach((image,index) => { %>
  <div>
    <img src="<%= image.image_name %>" data-image-name="<%= image.image_name.split('/').pop() %>" alt="User Image">
    <p>Subida por: <%= image.uploader_name %></p>
  </div>
<% }) %>


<%- include("../partials/upload_image.ejs") -%>

<%- include("../partials/end.ejs") -%>